version: '3'
services:
  db:
    build: .
    container_name: Studart-database
    restart: always
    volumes:
      - ./data-sys:/var/lib/mysql
      - ./conf-sys/my.cnf:/etc/my.cnf
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: Studart-database
    links:
      - db
    restart: always
    ports:
      - 8081:80
